/****** Object:  Table [dbo].[dashCommerce_Store_Notification]    Script Date: 02/11/2008 09:46:50 ******/
DELETE FROM [dbo].[dashCommerce_Store_Notification]
GO
/****** Object:  Table [dbo].[dashCommerce_Store_Currency]    Script Date: 02/11/2008 09:46:50 ******/
DELETE FROM [dbo].[dashCommerce_Store_Currency]
GO
/****** Object:  Table [dbo].[dashCommerce_Store_OrderStatusDescriptor]    Script Date: 02/11/2008 09:46:50 ******/
DELETE FROM [dbo].[dashCommerce_Store_OrderStatusDescriptor]
GO
/****** Object:  Table [dbo].[dashCommerce_Store_TransactionTypeDescriptor]    Script Date: 02/11/2008 09:46:50 ******/
DELETE FROM [dbo].[dashCommerce_Store_TransactionTypeDescriptor]
GO
/****** Object:  Table [dbo].[dashCommerce_Store_Provider]    Script Date: 02/11/2008 09:46:50 ******/
DELETE FROM [dbo].[dashCommerce_Store_Provider]
GO
/****** Object:  Table [dbo].[dashCommerce_Core_Country]    Script Date: 02/11/2008 09:46:50 ******/
DELETE FROM [dbo].[dashCommerce_Core_Country]
GO
/****** Object:  Table [dbo].[dashCommerce_Core_StateOrRegion]    Script Date: 02/11/2008 09:46:50 ******/
DELETE FROM [dbo].[dashCommerce_Core_StateOrRegion]
GO
/****** Object:  Table [dbo].[dashCommerce_Store_ProductStatusDescriptor]    Script Date: 02/11/2008 09:46:50 ******/
DELETE FROM [dbo].[dashCommerce_Store_ProductStatusDescriptor]
GO
/****** Object:  Table [dbo].[dashCommerce_Store_AttributeType]    Script Date: 02/11/2008 09:46:50 ******/
DELETE FROM [dbo].[dashCommerce_Store_AttributeType]
GO
/****** Object:  Table [dbo].[dashCommerce_Store_ProductType]    Script Date: 02/11/2008 09:46:50 ******/
DELETE FROM [dbo].[dashCommerce_Store_ProductType]
GO
/****** Object:  Table [dbo].[dashCommerce_Store_ShippingEstimate]    Script Date: 02/11/2008 09:46:50 ******/
DELETE FROM [dbo].[dashCommerce_Store_ShippingEstimate]
GO
/****** Object:  Table [dbo].[dashCommerce_Core_ConfigurationData]    Script Date: 02/11/2008 12:14:16 ******/
DELETE FROM [dbo].[dashCommerce_Core_ConfigurationData]
GO
/****** Object:  Table [dbo].[dashCommerce_Content_Template_TemplateRegion_Map]    Script Date: 03/19/2008 15:11:49 ******/
DELETE FROM [dbo].[dashCommerce_Content_Template_TemplateRegion_Map]
GO
/****** Object:  Table [dbo].[dashCommerce_Content_Page_Region_Map]    Script Date: 03/19/2008 15:11:49 ******/
DELETE FROM [dbo].[dashCommerce_Content_Page_Region_Map]
GO
/****** Object:  Table [dbo].[dashCommerce_Content_Region]    Script Date: 03/19/2008 15:11:49 ******/
DELETE FROM [dbo].[dashCommerce_Content_Region]
GO
/****** Object:  Table [dbo].[dashCommerce_Content_Provider]    Script Date: 03/19/2008 15:11:49 ******/
DELETE FROM [dbo].[dashCommerce_Content_Provider]
GO
/****** Object:  Table [dbo].[dashCommerce_Content_SimpleHtml]    Script Date: 03/19/2008 15:11:49 ******/
DELETE FROM [dbo].[dashCommerce_Content_SimpleHtml]
GO
/****** Object:  Table [dbo].[dashCommerce_Content_Page]    Script Date: 03/19/2008 15:11:49 ******/
DELETE FROM [dbo].[dashCommerce_Content_Page]
GO
/****** Object:  Table [dbo].[dashCommerce_Content_TemplateRegion]    Script Date: 03/19/2008 15:11:49 ******/
DELETE FROM [dbo].[dashCommerce_Content_TemplateRegion]
GO
/****** Object:  Table [dbo].[dashCommerce_Content_Template]    Script Date: 03/19/2008 15:11:49 ******/
DELETE FROM [dbo].[dashCommerce_Content_Template]
GO

/****** Object:  Table [dbo].[dashCommerce_Store_ShippingEstimate]    Script Date: 02/11/2008 09:46:50 ******/
SET IDENTITY_INSERT [dbo].[dashCommerce_Store_ShippingEstimate] ON
INSERT [dbo].[dashCommerce_Store_ShippingEstimate] ([ShippingEstimateId], [Name], [CreatedBy], [ModifiedBy]) VALUES (1, N'1-2 Days', N'SYSTEM', N'SYSTEM')
INSERT [dbo].[dashCommerce_Store_ShippingEstimate] ([ShippingEstimateId], [Name], [CreatedBy], [ModifiedBy]) VALUES (2, N'3-5 Days', N'SYSTEM', N'SYSTEM')
INSERT [dbo].[dashCommerce_Store_ShippingEstimate] ([ShippingEstimateId], [Name], [CreatedBy], [ModifiedBy]) VALUES (3, N'1-2 Weeks', N'SYSTEM', N'SYSTEM')
SET IDENTITY_INSERT [dbo].[dashCommerce_Store_ShippingEstimate] OFF
GO

/****** Object:  Table [dbo].[dashCommerce_Store_ProductType]    Script Date: 02/11/2008 09:46:50 ******/
SET IDENTITY_INSERT [dbo].[dashCommerce_Store_ProductType] ON
INSERT [dbo].[dashCommerce_Store_ProductType] ([ProductTypeId], [Name], [CreatedBy], [ModifiedBy]) VALUES (1, N'Tangible Goods', N'SYSTEM', N'SYSTEM')
INSERT [dbo].[dashCommerce_Store_ProductType] ([ProductTypeId], [Name], [CreatedBy], [ModifiedBy]) VALUES (2, N'Service', N'SYSTEM', N'SYSTEM')
SET IDENTITY_INSERT [dbo].[dashCommerce_Store_ProductType] OFF
GO

/****** Object:  Table [dbo].[dashCommerce_Store_AttributeType]    Script Date: 02/11/2008 09:46:50 ******/
SET IDENTITY_INSERT [dbo].[dashCommerce_Store_AttributeType] ON
INSERT [dbo].[dashCommerce_Store_AttributeType] ([AttributeTypeId], [Name], [CreatedBy], [ModifiedBy]) VALUES (1, N'Single Selection List', N'SYSTEM', N'SYSTEM')
INSERT [dbo].[dashCommerce_Store_AttributeType] ([AttributeTypeId], [Name], [CreatedBy], [ModifiedBy]) VALUES (2, N'Singleline Input', N'SYSTEM', N'SYSTEM')
INSERT [dbo].[dashCommerce_Store_AttributeType] ([AttributeTypeId], [Name], [CreatedBy], [ModifiedBy]) VALUES (3, N'Multiline Input', N'SYSTEM', N'SYSTEM')
SET IDENTITY_INSERT [dbo].[dashCommerce_Store_AttributeType] OFF
GO

/****** Object:  Table [dbo].[dashCommerce_Store_ProductStatusDescriptor]    Script Date: 02/11/2008 09:46:50 ******/
SET IDENTITY_INSERT [dbo].[dashCommerce_Store_ProductStatusDescriptor] ON
INSERT [dbo].[dashCommerce_Store_ProductStatusDescriptor] ([ProductStatusDescriptorId], [Name], [CreatedBy], [ModifiedBy]) VALUES (1, N'Active', N'SYSTEM', N'SYSTEM')
INSERT [dbo].[dashCommerce_Store_ProductStatusDescriptor] ([ProductStatusDescriptorId], [Name], [CreatedBy], [ModifiedBy]) VALUES (99, N'Inactive (Do Not Display)', N'SYSTEM', N'SYSTEM')
SET IDENTITY_INSERT [dbo].[dashCommerce_Store_ProductStatusDescriptor] OFF
GO

/****** Object:  Table [dbo].[dashCommerce_Store_Provider]    Script Date: 02/11/2008 09:46:50 ******/
SET IDENTITY_INSERT [dbo].[dashCommerce_Store_Provider] ON
SET IDENTITY_INSERT [dbo].[dashCommerce_Store_Provider] OFF
GO

/****** Object:  Table [dbo].[dashCommerce_Store_TransactionTypeDescriptor]    Script Date: 02/11/2008 09:46:50 ******/
SET IDENTITY_INSERT [dbo].[dashCommerce_Store_TransactionTypeDescriptor] ON
INSERT [dbo].[dashCommerce_Store_TransactionTypeDescriptor] ([TransactionTypeDescriptorId], [Name], [CreatedBy], [ModifiedBy]) VALUES (1, N'Authorization', N'SYSTEM', N'SYSTEM')
INSERT [dbo].[dashCommerce_Store_TransactionTypeDescriptor] ([TransactionTypeDescriptorId], [Name], [CreatedBy], [ModifiedBy]) VALUES (2, N'Charge', N'SYSTEM', N'SYSTEM')
INSERT [dbo].[dashCommerce_Store_TransactionTypeDescriptor] ([TransactionTypeDescriptorId], [Name], [CreatedBy], [ModifiedBy]) VALUES (3, N'Refund', N'SYSTEM', N'SYSTEM')
SET IDENTITY_INSERT [dbo].[dashCommerce_Store_TransactionTypeDescriptor] OFF
GO

/****** Object:  Table [dbo].[dashCommerce_Store_OrderStatusDescriptor]    Script Date: 02/11/2008 09:46:50 ******/
INSERT [dbo].[dashCommerce_Store_OrderStatusDescriptor] ([OrderStatusDescriptorId], [Name], [CreatedBy], [ModifiedBy]) VALUES (100, N'Received Payment, Processing Order', N'SYSTEM', N'SYSTEM')
INSERT [dbo].[dashCommerce_Store_OrderStatusDescriptor] ([OrderStatusDescriptorId], [Name], [CreatedBy], [ModifiedBy]) VALUES (200, N'Gathering Items from Inventory', N'SYSTEM', N'SYSTEM')
INSERT [dbo].[dashCommerce_Store_OrderStatusDescriptor] ([OrderStatusDescriptorId], [Name], [CreatedBy], [ModifiedBy]) VALUES (300, N'Order - Partial Shipment', N'SYSTEM', N'SYSTEM')
GO

/****** Object:  Table [dbo].[dashCommerce_Store_Notification]    Script Date: 02/11/2008 09:46:50 ******/
SET IDENTITY_INSERT [dbo].[dashCommerce_Store_Notification] ON
SET IDENTITY_INSERT [dbo].[dashCommerce_Store_Notification] OFF
GO

/****** Object:  Table [dbo].[dashCommerce_Core_ConfigurationData]    Script Date: 02/11/2008 12:14:16 ******/
SET IDENTITY_INSERT [dbo].[dashCommerce_Core_ConfigurationData] ON
SET IDENTITY_INSERT [dbo].[dashCommerce_Core_ConfigurationData] OFF
GO

/****** Object:  Table [dbo].[dashCommerce_Content_Template]    Script Date: 03/19/2008 15:11:49 ******/
SET IDENTITY_INSERT [dbo].[dashCommerce_Content_Template] ON
INSERT [dbo].[dashCommerce_Content_Template] ([TemplateId], [Name], [Description], [StyleSheet], [CreatedBy], [ModifiedBy]) VALUES (1, N'3 Column Template', N'3 Column Template', N'~/controls/content/styles/3col.css', N'SYSTEM', N'SYSTEM')
INSERT [dbo].[dashCommerce_Content_Template] ([TemplateId], [Name], [Description], [StyleSheet], [CreatedBy], [ModifiedBy]) VALUES (2, N'2 Column Template (Main Right)', N'2 Column Template', N'~/controls/content/styles/2colmainright.css', N'SYSTEM', N'SYSTEM')
INSERT [dbo].[dashCommerce_Content_Template] ([TemplateId], [Name], [Description], [StyleSheet], [CreatedBy], [ModifiedBy]) VALUES (3, N'2 Column Template (Main Left)', N'2 Column Template', N'~/controls/content/styles/2colmainleft.css', N'SYSTEM', N'SYSTEM')
SET IDENTITY_INSERT [dbo].[dashCommerce_Content_Template] OFF
GO

/****** Object:  Table [dbo].[dashCommerce_Content_TemplateRegion]    Script Date: 03/19/2008 15:11:49 ******/
SET IDENTITY_INSERT [dbo].[dashCommerce_Content_TemplateRegion] ON
INSERT [dbo].[dashCommerce_Content_TemplateRegion] ([TemplateRegionId], [Name], [Description], [CreatedBy], [ModifiedBy]) VALUES (1, N'Left Content', N'Left Content', N'SYSTEM', N'SYSTEM')
INSERT [dbo].[dashCommerce_Content_TemplateRegion] ([TemplateRegionId], [Name], [Description], [CreatedBy], [ModifiedBy]) VALUES (2, N'Right Content', N'Right Content', N'SYSTEM', N'SYSTEM')
INSERT [dbo].[dashCommerce_Content_TemplateRegion] ([TemplateRegionId], [Name], [Description], [CreatedBy], [ModifiedBy]) VALUES (3, N'Main Content', N'Main Content', N'SYSTEM', N'SYSTEM')
SET IDENTITY_INSERT [dbo].[dashCommerce_Content_TemplateRegion] OFF
GO

/****** Object:  Table [dbo].[dashCommerce_Content_Provider]    Script Date: 03/19/2008 15:11:49 ******/
SET IDENTITY_INSERT [dbo].[dashCommerce_Content_Provider] ON
INSERT [dbo].[dashCommerce_Content_Provider] ([ProviderId], [Name], [ViewControl], [EditControl], [StyleSheet], [CreatedBy], [ModifiedBy]) VALUES (1, N'Simple Html', N'~/controls/content/html/viewhtml.ascx', N'~/admin/controls/content/html/edithtml.ascx', NULL, N'SYSTEM', N'SYSTEM')
INSERT [dbo].[dashCommerce_Content_Provider] ([ProviderId], [Name], [ViewControl], [EditControl], [StyleSheet], [CreatedBy], [ModifiedBy]) VALUES (2, N'Customized Products Display', N'~/controls/content/products/ViewCustomizedProductsDisplay.ascx', N'~/admin/controls/content/products/EditCustomizedProductsDisplay.ascx', NULL, N'SYSTEM', N'SYSTEM')
INSERT [dbo].[dashCommerce_Content_Provider] ([ProviderId], [Name], [ViewControl], [EditControl], [StyleSheet], [CreatedBy], [ModifiedBy]) VALUES (3, N'Contact Us', N'~/controls/content/ContactUs.ascx', '~/admin/controls/content/EditContactUs.ascx', NULL, N'SYSTEM', N'SYSTEM')
SET IDENTITY_INSERT [dbo].[dashCommerce_Content_Provider] OFF
GO

/****** Object:  Table [dbo].[dashCommerce_Content_Template_TemplateRegion_Map]    Script Date: 03/19/2008 15:11:49 ******/
INSERT [dbo].[dashCommerce_Content_Template_TemplateRegion_Map] ([TemplateId], [TemplateRegionId]) VALUES (1, 1)
INSERT [dbo].[dashCommerce_Content_Template_TemplateRegion_Map] ([TemplateId], [TemplateRegionId]) VALUES (1, 2)
INSERT [dbo].[dashCommerce_Content_Template_TemplateRegion_Map] ([TemplateId], [TemplateRegionId]) VALUES (1, 3)
GO

/****** Object:  Table [dbo].[dashCommerce_Content_Page]    Script Date: 04/06/2008 14:27:59 ******/
SET IDENTITY_INSERT [dbo].[dashCommerce_Content_Page] ON
INSERT [dbo].[dashCommerce_Content_Page] ([PageId], [PageGuid], [ParentId], [Title], [MenuTitle], [Keywords], [Description], [SortOrder], [TemplateId], [CreatedBy], [ModifiedBy]) VALUES (1, N'58ec67c1-e2d3-4adc-8ad3-297f52efcf62', 0, N'Home', N'Home', N'', N'', 1, 3, N'SYSTEM', N'SYSTEM')
SET IDENTITY_INSERT [dbo].[dashCommerce_Content_Page] OFF
GO

/****** Object:  Table [dbo].[dashCommerce_Content_SimpleHtml]    Script Date: 04/06/2008 14:27:59 ******/
SET IDENTITY_INSERT [dbo].[dashCommerce_Content_SimpleHtml] ON
SET IDENTITY_INSERT [dbo].[dashCommerce_Content_SimpleHtml] OFF
GO

/****** Object:  Table [dbo].[dashCommerce_Content_Region]    Script Date: 04/06/2008 14:27:59 ******/
SET IDENTITY_INSERT [dbo].[dashCommerce_Content_Region] ON
INSERT [dbo].[dashCommerce_Content_Region] ([RegionId], [RegionGuid], [ProviderId], [Title], [TemplateRegionId], [SortOrder], [ShowTitle], [CreatedBy], [ModifiedBy]) VALUES (1, N'e8a639de-50f9-4a21-bf1a-42a866dcb2be', 1, N'Welcome to dashCommerce', 3, 0, 1, N'SYSTEM', N'SYSTEM')
SET IDENTITY_INSERT [dbo].[dashCommerce_Content_Region] OFF
GO

/****** Object:  Table [dbo].[dashCommerce_Content_Page_Region_Map]    Script Date: 04/06/2008 14:27:59 ******/
INSERT [dbo].[dashCommerce_Content_Page_Region_Map] ([RegionId], [PageId]) VALUES (1, 1)
GO

/****** Object:  Table [dbo].[dashCommerce_Store_ToDo]    Script Date: 03/25/2008 12:06:22 ******/
SET IDENTITY_INSERT [dbo].[dashCommerce_Store_ToDo] ON
INSERT [dbo].[dashCommerce_Store_ToDo] ([ToDoId], [ToDo], [CreatedBy], [ModifiedBy]) VALUES (1, N'Configure Shipping Providers', N'SYSTEM', N'SYSTEM')
INSERT [dbo].[dashCommerce_Store_ToDo] ([ToDoId], [ToDo], [CreatedBy], [ModifiedBy]) VALUES (2, N'Configure Tax Providers', N'SYSTEM', N'SYSTEM')
INSERT [dbo].[dashCommerce_Store_ToDo] ([ToDoId], [ToDo], [CreatedBy], [ModifiedBy]) VALUES (3, N'Configure Payment Providers', N'SYSTEM', N'SYSTEM')
SET IDENTITY_INSERT [dbo].[dashCommerce_Store_ToDo] OFF
GO

/****** Object:  Table [dbo].[dashCommerce_Core_Country]    Script Date: 02/11/2008 09:46:50 ******/
SET IDENTITY_INSERT [dbo].[dashCommerce_Core_Country] ON
INSERT [dbo].[dashCommerce_Core_Country] ([CountryId], [Code], [Name]) VALUES (1, N'AF', N'Afghanistan')
INSERT [dbo].[dashCommerce_Core_Country] ([CountryId], [Code], [Name]) VALUES (2, N'AL', N'Albania')
INSERT [dbo].[dashCommerce_Core_Country] ([CountryId], [Code], [Name]) VALUES (3, N'DZ', N'Algeria')
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
SET IDENTITY_INSERT [dbo].[dashCommerce_Core_Country] OFF
GO

/****** Object:  Table [dbo].[dashCommerce_Store_Currency]    Script Date: 02/11/2008 09:46:50 ******/
SET IDENTITY_INSERT [dbo].[dashCommerce_Store_Currency] ON
INSERT [dbo].[dashCommerce_Store_Currency] ([codeID], [code], [description]) VALUES (1, N'AFA', N'Afghanistan afghani')
INSERT [dbo].[dashCommerce_Store_Currency] ([codeID], [code], [description]) VALUES (2, N'ALL', N'Albanian lek')
INSERT [dbo].[dashCommerce_Store_Currency] ([codeID], [code], [description]) VALUES (3, N'DZD', N'Algerian dinar')
GO
print 'Processed 100 total records'
SET IDENTITY_INSERT [dbo].[dashCommerce_Store_Currency] OFF
GO

SET IDENTITY_INSERT [dbo].[dashCommerce_Core_StateOrRegion] ON
INSERT [dbo].[dashCommerce_Core_StateOrRegion] ([StateOrRegionId], [CountryId], [Name], [Abbreviation]) VALUES (1, 224, N'ALABAMA', N'AL')
INSERT [dbo].[dashCommerce_Core_StateOrRegion] ([StateOrRegionId], [CountryId], [Name], [Abbreviation]) VALUES (2, 224, N'ALASKA', N'AK')
INSERT [dbo].[dashCommerce_Core_StateOrRegion] ([StateOrRegionId], [CountryId], [Name], [Abbreviation]) VALUES (3, 224, N'AMERICAN SAMOA', N'AS')
SET IDENTITY_INSERT [dbo].[dashCommerce_Core_StateOrRegion] OFF
GO
SET IDENTITY_INSERT [dbo].[dashCommerce_Store_Version] ON
INSERT [dbo].[dashCommerce_Store_Version] ([VersionId], [Major], [Minor], [Build], [Revision], [CreatedBy], [ModifiedBy]) VALUES (1, 3, 4, 438, 0, N'SYSTEM', N'SYSTEM')
SET IDENTITY_INSERT [dbo].[dashCommerce_Store_Version] OFF
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dashCommerce_Core_StateOrRegion_dashCommerce_Core_Country]') AND parent_object_id = OBJECT_ID(N'[dbo].[dashCommerce_Core_StateOrRegion]'))
ALTER TABLE [dbo].[dashCommerce_Core_StateOrRegion]  WITH CHECK ADD  CONSTRAINT [FK_dashCommerce_Core_StateOrRegion_dashCommerce_Core_Country] FOREIGN KEY([CountryId])
REFERENCES [dbo].[dashCommerce_Core_Country] ([CountryId])
GO
ALTER TABLE [dbo].[dashCommerce_Core_StateOrRegion] CHECK CONSTRAINT [FK_dashCommerce_Core_StateOrRegion_dashCommerce_Core_Country]
GO
