<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="databaseType" value="MSSQL2008"/>
  </appSettings>
  <connectionStrings>
    <clear/>
    <add name="DataServer.System" connectionString="Server=.\SQLEXPRESS;Initial Catalog=dcee_system;user id=IUSER; Password=IUSER;" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
