# Folders #
###########

bin
obj

# Visual Studio Files #
#######################

*.suo
*.csproj.user
TestResult.xml


# Specific Files #
##################

sha1-checksum.bat
Parameters.xml
Manifest.xml
oldAdStuff.txt
fciv-sha1-list.bat

# Compiled Source #
###################

*.dll
*.pdb



# OS Generated #
################

Thumbs.db
*.DS_Store