# Folders #
###########

bin
obj

# Visual Studio Files #
#######################

*.suo
*.csproj.user
TestResult.xml

# Specific Folders #
####################
Web/repository/product
TestResults


# Specific Files #
##################

sha1-checksum.bat
Parameters.xml
Manifest.xml
oldAdStuff.txt
fciv-sha1-list.bat
TODO.txt
Web/connectionString.config

# Compiled Source #
###################

#*.dll
#*.pdb



# OS Generated #
################

Thumbs.db
*.DS_Store