<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="SubSonicService" type="SubSonic.SubSonicSection, SubSonic" allowDefinition="MachineToApplication" restartOnExternalChanges="true" requirePermission="false"/>
  </configSections>
  <connectionStrings>
    <clear/>
    <add name="dashCommerce" connectionString="Server=.\SQLEXPRESS;Initial Catalog=dC;user id=IUSER; Password=IUSER;" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <SubSonicService defaultProvider="dashCommerceProvider">
    <providers>
      <clear/>
      <!-- App_Code\Models\Store\Generated -->
      <add name="dashCommerceProvider" type="SubSonic.SqlDataProvider, SubSonic" connectionStringName="dashCommerce" generatedNamespace="MettleSystems.dashCommerce.Core" fixPluralClassName="true" stripTableText="dashCommerce_Core_" includeTableList="dashCommerce_Core_ConfigurationData
                            ,dashCommerce_Core_Country
                            ,dashCommerce_Core_Log
                            ,dashCommerce_Core_StateOrRegion
                            
           " stripSPText="dashCommerce_Core_" includeProcedureList="dashCommerce_Core_DeleteAllLogs
                                ,dashCommerce_Core_Insert_Log
                                ,dashCommerce_Core_FetchAllLogs
                                ,dashCommerce_Core_FetchStateOrRegionByCountryCode
           "/>
    </providers>
  </SubSonicService>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
