<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="SubSonicService" type="SubSonic.SubSonicSection, SubSonic" allowDefinition="MachineToApplication" restartOnExternalChanges="true" requirePermission="false"/>
    <section name="rewriter" type="Intelligencia.UrlRewriter.Configuration.RewriterConfigurationSectionHandler, Intelligencia.UrlRewriter_NETv4" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="defaultNewsFeedUrl" value="https://github.com/dashcommerce/dashcommerce-3/commits/master.atom"/>
    <add key="rewriteUrlTemplate" value="{0}/{1}/{2}{3}" />
  </appSettings>
  <connectionStrings configSource="connectionString.config"/>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0"/>
    <httpRuntime/>
    <pages controlRenderingCompatibilityVersion="4.0">
      <controls>
        <add tagPrefix="asp" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit"/>
        <add tagPrefix="dashCommerce" namespace="MettleSystems.dashCommerce.Controls" assembly="MettleSystems.dashCommerce.Controls"/>
        <add tagPrefix="dashCommerce" namespace="MettleSystems.dashCommerce.Controls" assembly="MettleSystems.dashCommerce.Store"/>
        <add tagPrefix="FCKeditorV2" namespace="FredCK.FCKeditorV2" assembly="FredCK.FCKeditorV2"/>
      </controls>
    </pages>
    <machineKey/>
    <siteMap enabled="true" defaultProvider="AdminXmlSiteMapProvider">
      <providers>
        <clear/>
        <add name="AdminXmlSiteMapProvider" type="System.Web.XmlSiteMapProvider" siteMapFile="~/admin/admin.sitemap"/>
        <add name="SiteSettingsXmlSiteMapProvider" type="System.Web.XmlSiteMapProvider" siteMapFile="~/admin/controls/navigation/sitesettings.sitemap"/>
        <add name="SimpleWeightShippingProviderXmlSiteMapProvider" type="System.Web.XmlSiteMapProvider" siteMapFile="~/admin/controls/navigation/simpleweightshippingprovider.sitemap"/>
        <add name="RegionCodeXmlSiteMapProvider" type="System.Web.XmlSiteMapProvider" siteMapFile="~/admin/controls/navigation/regioncode.sitemap"/>
        <add name="ProductXmlSiteMapProvider" type="System.Web.XmlSiteMapProvider" siteMapFile="~/admin/controls/navigation/product.sitemap"/>
        <add name="OrderXmlSiteMapProvider" type="System.Web.XmlSiteMapProvider" siteMapFile="~/admin/controls/navigation/order.sitemap"/>
        <add name="VatXmlSiteMapProvider" type="System.Web.XmlSiteMapProvider" siteMapFile="~/admin/controls/navigation/vatrate.sitemap"/>
      </providers>
    </siteMap>
    <roleManager enabled="true">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" connectionStringName="dashCommerce" applicationName="dashCommerce" type="System.Web.Security.SqlRoleProvider"/>
      </providers>
    </roleManager>
    <membership defaultProvider="AspNetSqlMembershipProvider" userIsOnlineTimeWindow="30" hashAlgorithmType="">
      <providers>
        <clear/>
        <add connectionStringName="dashCommerce" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="true" applicationName="dashCommerce" requiresUniqueEmail="false" passwordFormat="Hashed" maxInvalidPasswordAttempts="5" passwordAttemptWindow="10" passwordStrengthRegularExpression="" minRequiredPasswordLength="4" minRequiredNonalphanumericCharacters="0" name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </providers>
    </membership>
    <anonymousIdentification enabled="true"/>
    <authentication mode="Forms">
      <forms name=".ASPNET" loginUrl="login.aspx" protection="All" timeout="30" path="/" slidingExpiration="true"/>
    </authentication>
    <authorization>
      <allow users="?"/>
    </authorization>
    <profile automaticSaveEnabled="true" defaultProvider="SqlProvider">
      <providers>
        <clear/>
        <add name="SqlProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="dashCommerce" applicationName="dashCommerce"/>
      </providers>
      <properties>
        <add name="AddressCollection" type="MettleSystems.dashCommerce.Store.AddressCollection" allowAnonymous="true"/>
      </properties>
    </profile>
  </system.web>
  <SubSonicService defaultProvider="dashCommerceProvider">
    <providers>
      <clear/>
      <add name="dashCommerceProvider" connectionStringName="dashCommerce" type="SubSonic.SqlDataProvider, SubSonic"/>
    </providers>
  </SubSonicService>
  <!-- start Intelligencia.UrlRewriter settings -->
  <rewriter>
    <!-- When changing these rewrites make sure that you sync them with rewriteUrlTemplate in the appSettings section. -->
    <rewrite url="~/Product/(.+)/(\d+)" to="~/product.aspx?pid=$2" />
    <rewrite url="~/Catalog/(.+)/(\d+)$" to="~/catalog.aspx?cid=$2" />
    <rewrite url="~/Catalog/(.+)/(\d+)\?(.+)" to="~/catalog.aspx?cid=$2&amp;$3" />
    <rewrite url="~/Page/(.+)/(\d+)" to="~/default.aspx?pageId=$2" />
  </rewriter>
  <!-- end Intelligencia.UrlRewriter settings -->
  <system.webServer>
      <modules runAllManagedModulesForAllRequests="false">
      <add name="UrlRewriter" type="Intelligencia.UrlRewriter.RewriterHttpModule, Intelligencia.UrlRewriter_NETv4"/>
    </modules>
  </system.webServer>
</configuration>