<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
        <section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
        <sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
          <section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere" />
          <section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
          <section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
          <section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
        </sectionGroup>
      </sectionGroup>
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" restartOnExternalChanges="true" requirePermission="false"/>
    <section name="SubSonicService" type="SubSonic.SubSonicSection, SubSonic" allowDefinition="MachineToApplication" restartOnExternalChanges="true" requirePermission="false"/>
    <section name="rewriter" type="Intelligencia.UrlRewriter.Configuration.RewriterConfigurationSectionHandler, Intelligencia.UrlRewriter" requirePermission="false" />
  </configSections>
  <connectionStrings configSource="connectionString.config" />
  <appSettings>
    <add key="defaultNewsFeedUrl" value="http://www.dashcommerce.org/blogs/MainFeed.aspx"/>
    <add key="rewriteUrlTemplate" value="{0}-{1}_{2}.aspx{3}" />
  </appSettings>
  <system.web>
    <!--<trust level="dashCommerce_Medium" />-->
    <customErrors mode="Off">
      <error statusCode="500" redirect="~/exceptionpage.aspx"/>
    </customErrors>
    <httpCookies httpOnlyCookies="true" />
    <pages>
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add tagPrefix="asp" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit"/>
        <add tagPrefix="dashCommerce" namespace="MettleSystems.dashCommerce.Controls" assembly="MettleSystems.dashCommerce.Controls" />
        <add tagPrefix="dashCommerce" namespace="MettleSystems.dashCommerce.Controls" assembly="MettleSystems.dashCommerce.Store" />
        <add tagPrefix="FCKeditorV2" namespace="FredCK.FCKeditorV2" assembly="FredCK.FCKeditorV2"/>
      </controls>
    </pages>
    <!--
          Set compilation debug="true" to insert debugging
          symbols into the compiled page. Because this
          affects performance, set this value to true only
          during development.
    -->
    <compilation debug="true">
      <assemblies>
        <add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>

    <httpHandlers>
      <remove verb="*" path="*.asmx"/>
      <add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false"/>
    </httpHandlers>
    <httpModules>
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="UrlRewriter" type="Intelligencia.UrlRewriter.RewriterHttpModule, Intelligencia.UrlRewriter" />
      <add name="StoreCloser" type="MettleSystems.dashCommerce.Web.StoreCloser" />
    </httpModules>

    <siteMap enabled="true" defaultProvider="AdminXmlSiteMapProvider">
      <providers>
        <clear/>
        <add name="AdminXmlSiteMapProvider" type="System.Web.XmlSiteMapProvider" siteMapFile="~/admin/admin.sitemap"/>
        <add name="SiteSettingsXmlSiteMapProvider" type="System.Web.XmlSiteMapProvider" siteMapFile="~/admin/controls/navigation/sitesettings.sitemap"/>
        <add name="SimpleWeightShippingProviderXmlSiteMapProvider" type="System.Web.XmlSiteMapProvider" siteMapFile="~/admin/controls/navigation/simpleweightshippingprovider.sitemap"/>
        <add name="RegionCodeXmlSiteMapProvider" type="System.Web.XmlSiteMapProvider" siteMapFile="~/admin/controls/navigation/regioncode.sitemap"/>
        <add name="ProductXmlSiteMapProvider" type="System.Web.XmlSiteMapProvider" siteMapFile="~/admin/controls/navigation/product.sitemap"/>
        <add name="OrderXmlSiteMapProvider" type="System.Web.XmlSiteMapProvider" siteMapFile="~/admin/controls/navigation/order.sitemap"/>
        <add name="VatXmlSiteMapProvider" type="System.Web.XmlSiteMapProvider" siteMapFile="~/admin/controls/navigation/vatrate.sitemap"/>
      </providers>
    </siteMap>
    <roleManager enabled="true">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" connectionStringName="dashCommerce" applicationName="dashCommerce" type="System.Web.Security.SqlRoleProvider"/>
      </providers>
    </roleManager>
    <membership defaultProvider="AspNetSqlMembershipProvider" userIsOnlineTimeWindow="30" hashAlgorithmType="">
      <providers>
        <clear/>
        <add connectionStringName="dashCommerce" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="true" applicationName="dashCommerce" requiresUniqueEmail="false" passwordFormat="Hashed" maxInvalidPasswordAttempts="5" passwordAttemptWindow="10" passwordStrengthRegularExpression="" minRequiredPasswordLength="4" minRequiredNonalphanumericCharacters="0" name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </providers>
    </membership>
    <anonymousIdentification enabled="true"/>
    <authentication mode="Forms">
      <forms name=".ASPNET" loginUrl="login.aspx" protection="All" timeout="30" path="/" slidingExpiration="true"/>
    </authentication>
    <authorization>
      <allow users="?"/>
    </authorization>
    <profile automaticSaveEnabled="true" defaultProvider="SqlProvider">
      <providers>
        <clear/>
        <add name="SqlProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="dashCommerce" applicationName="dashCommerce"/>
      </providers>
      <properties>
        <add name="AddressCollection" type="MettleSystems.dashCommerce.Store.AddressCollection" allowAnonymous="true"/>
      </properties>
    </profile>
  </system.web>
  <location path="transforms">
    <system.web>
      <authorization>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <system.web.extensions>
    <scripting>
      <webServices>
        <!-- Uncomment this line to customize maxJsonLength and add a custom converter -->
        <!--
      <jsonSerialization maxJsonLength="500">
        <converters>
          <add name="ConvertMe" type="Acme.SubAcme.ConvertMeTypeConverter"/>
        </converters>
      </jsonSerialization>
      -->
        <!-- Uncomment this line to enable the authentication service. Include requireSSL="true" if appropriate. -->
        <!--
        <authenticationService enabled="true" requireSSL = "true|false"/>
      -->

        <!-- Uncomment these lines to enable the profile service. To allow profile properties to be retrieved
           and modified in ASP.NET AJAX applications, you need to add each property name to the readAccessProperties and
           writeAccessProperties attributes. -->
        <!--
      <profileService enabled="true"
                      readAccessProperties="propertyname1,propertyname2"
                      writeAccessProperties="propertyname1,propertyname2" />
      -->
      </webServices>
      <!--
      <scriptResourceHandler enableCompression="true" enableCaching="true" />
      -->
    </scripting>
  </system.web.extensions>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="ScriptModule" />
      <remove name="UrlRewriter" />
      <add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="UrlRewriter" type="Intelligencia.UrlRewriter.RewriterHttpModule, Intelligencia.UrlRewriter" />
    </modules>
    <handlers>
      <remove name="WebServiceHandlerFactory-Integrated"/>
      <remove name="ScriptHandlerFactory" />
      <remove name="ScriptHandlerFactoryAppServices" />
      <remove name="ScriptResource" />
      <add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode"
           type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode"
           type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="ScriptResource" preCondition="integratedMode" verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    </handlers>
  </system.webServer>
  <SubSonicService defaultProvider="dashCommerceProvider">
    <providers>
      <clear/>
      <add name="dashCommerceProvider" connectionStringName="dashCommerce" type="SubSonic.SqlDataProvider, SubSonic"/>
    </providers>
  </SubSonicService>
  <!-- start Intelligencia.UrlRewriter settings -->
  <rewriter>
    <!-- When changing these rewrites make sure that you sync them with rewriteUrlTemplate in the appSettings section. -->
    <rewrite url="~/Product-(.+)_(\d+).aspx" to="~/product.aspx?pid=$2" />
    <rewrite url="~/Catalog-(.+)_(\d+).aspx$" to="~/catalog.aspx?cid=$2" />
    <rewrite url="~/Catalog-(.+)_(\d+).aspx\?(.+)" to="~/catalog.aspx?cid=$2&amp;$3" />
    <rewrite url="~/Page-(.+)_(\d+).aspx" to="~/default.aspx?pageId=$2" />
  </rewriter>
  <!-- end Intelligencia.UrlRewriter settings -->
</configuration>